.toolbar{
display: inline-block;
margin-right: 10px;

}

.table{
margin: auto;
width: 80%;
text-align: center;

}
.mgr{
margin: 10px 10px 10px 10px;
}

.redalert{
color: red;
margin: 0px 0px 0px 0px;
}

.greenalert{
color: green;
margin: 0px 0px 0px 0px;
}

