<br/>
<br/>
<div class='Center' align='center'>
<form  style="display:inline-block;margin:0 auto;"  id='fileNameForm'  enctype="multipart/form-data">
  <p>Set name of the group</p>
  <input  type="text" name="fileName"   (keyup)="setGroupName($event.target.value)" />
</form>

<br/>

  <div class="autocomplete">
    <div class="chips-input-container">
      <div class="user-chip" *ngFor="let user of userSelects">
        {{user.email}}
        <span (click)="deleteSelects(user)" class="delete-icon-chip">&#10006;</span>
      </div>

      <input name="suggestion" type="text" placeholder="User" (click)="suggest()" [(ngModel)]="userSelectsString">
    </div>

    <div class="autocomplete-items" *ngIf="show">
      <div *ngFor="let s of suggestions" [ngClass]="isSelected(s) ? 'selected-suggestion' : ''" (click)="selectSuggestion(s)">{{ s.email }}</div>
    </div>
  </div>
  <button class="btn-bot" (click)="sendGroup()">+Create group</button>

</div>
