
<div class="mgr">
  <div class="line"><app-dropdown-file-search [files]="files" (selectedSet)="selectedChangeHandler($event)"></app-dropdown-file-search></div>

  <input type="number" [(ngModel)]="firstColumnId" name="inputName">
  <input type="number" [(ngModel)]="secondColumnId" name="inputName">

  <button (click)="compute()">Compute</button>
  <button (click)="clear()">Clear</button>

  <table bgcolor="#FFFFFF" style="width:80%">
    <thead>
    <tr>
      <th>First column</th>
      <th>Second column</th>
      <th>Covariance</th>
      <th>Correlation</th>
      <th>Ttest</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let row of tableContent">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]|number:'.0-4'}}</td>
      <td>{{row[3]|number:'.0-4'}}</td>
      <td>{{row[4]|number:'.0-4'}}</td>
    </tr>
    </tbody>
  </table>


</div>
