

nav a {
  font-size: 17px;
  padding: 8px 15px;
  text-decoration: none;
  margin-top: 2px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  width: 160px;
}

nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #5F9EA0;
}


  .conatiner{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;


}


.column {
  float: left;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.row-for-coulmns{
  flex: 1 0 auto;
  margin: 0;
  background: #778899;
  padding: 1px;

}

.left {
height: auto;
  width: 15%;
  background: #778899;
}
.right {
  width: 85%;
  color: black;
  background: #778899;
}

.header{
  background: #778899;
  height: 50px;
  margin: 0;
  padding: 1px;
}

.hls{
float: left;
}

.hrs{
float: right;

}

button a{
font-size: 16pt;
font-type: Arial;
}

