


  <div class="header">
    <div class="hls">
    <img src="img/logo.jpg" alt="LogoImageError">
    </div>
    <div class="hrs">
      <button *ngIf="!isLogged()">
        <a routerLink="/auth">Log in</a>
      </button>

      <button *ngIf="isLogged()" (click)="logOut()">
        <a routerLink="/auth">Log out</a>
      </button>
    </div>

  </div>
  <hr size="2px" width="100%">

  <div class="row-for-coulmns">
    <div class="clearfix">
      <div class="column left" >
        <nav>
          <a routerLink="/basic">Basic</a>
          <a routerLink="/data-import">Data Import</a>
          <a routerLink="/data-manipulation">Data Manipulation</a>
          <a routerLink="/data-visualization">Data Visualization</a>
          <a routerLink="/publications">Publications</a>
        </nav>
      </div>

      <div class="column right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>















