
<div class="mgr">
  <div class="line"><app-dropdown-file-search [files]="files" (selectedSet)="selectedChangeHandler($event)"></app-dropdown-file-search></div>
  <div class="line"><div class="right">
    <button (click)="changeView()">Change view</button>
    <button (click)="modeAll()">Show all</button>
    <button (click)="modeSingle()">Show single</button>
    <button (click)="modeRegression()">Show regression</button>
    <button (click)="modeError()">Show error bars</button>
    <button (click)="exportAsPNG()">Save as PNG</button>
    <button (click)="exportAsPDF()">Save as PDF</button>
  </div></div>
  <br />
  <br />
  <br />
<div class="mgr" *ngIf="viewMode=='chart'">
  <div #charts id="test" ></div>
  <p *ngIf="regression">y = {{slope}} * x + {{intercept}} :  u(slope) = {{slopeStdError}}, u(intercept) = {{interceptStdError}}</p>

</div>

  <table bgcolor="#FFFFFF"  *ngIf="viewMode=='table'" style="width:80%">
    <thead>
    <tr>
      <th *ngFor="let x of range(numberOfColumnsInTable)">Column {{x+1}}</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let point_data of chart.series[0].data">
      <td>{{point_data.x}}</td>
      <td>{{point_data.y}}</td>
      <td *ngFor="let x of range(numberOfColumnsInTable-2)">{{chart.series[x+1].data[chart.series[0].data.indexOf(point_data)].y}}</td>
    </tr>
    </tbody>
  </table>
  <div class="i">
    <p>Set names to chart, xAxis and yAxis:</p>
    <input type="string" [(ngModel)]="chartTitle" name="chartTitleInput">
    <input type="string" [(ngModel)]="xAxisTitle" name="xAxisTitleInput">
    <input type="string" [(ngModel)]="yAxisTitle" name="yAxisTitleInput">
    <button (click)="setTitles()">Set titles</button>
  </div>


  <app-description [svgContent]="svgContent"></app-description>

</div>
